* {
  margin: 0;
  padding: 0;
  
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #dfdfdf;
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}

.App {
    font-family: sans-serif;
    text-align: center;
  }

  body {
      border-color: antiquewhite;
      margin: 0;
  }

  .text-editor .ql-editor {
      width: 8.5in;
      min-height: 11in;
      padding: 1in;
      margin: 1rem;
      box-shadow: 0 0 7px rgba(37, 37, 37, 0.5);
      background-color: white;
  }

  .title {
      text-align: center;
  }
  
  .savedDocs {
      float: left;
  }
/* 
  h4 {
    padding-left: 1em;
  } */

  h1 {
    margin: 0.5em;
    text-align: center;
  }

  .title {
    margin-top: 1em;
  }

  .wrapper {
    text-align: center;
  }

  .newBtn {
    background-color: #3f7c8f;
    border: none;
    padding: 7px 16px;
    margin: 1em;
    font-size: 16px;
    border-radius: 2px;
    color: white;
    height: 3em;
  }

.newBtn a {

    color: white;
    text-decoration: none;

  }

  .list {
    padding-left: 14.5em;
    position: relative;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
  }

  ul.ulA {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block; 
    width: 25%;
    list-style: none;
    margin: 5px;
    height: 100px;
  }

  ul.a {
    list-style-type: circle;
  }

  li.linkA {
    list-style: none;
    display: inline-block;
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    padding-top: 1em;
  }

  .Navbar {
    padding: 2em;
    background-color: #3f7c8f;
    color: white;
  }

  .logout {
      float: right ;
  }

.wrapperTextEditor {
  display: flex;
  justify-content: center;
}
.userPerm {
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;

}

.permissionForm {
  padding: 1em;
}

label {
  display:flex;
  flex-direction:column;
}

.userSum {
  padding-left:4em;
  padding-top: 2em;
}

.commentField {
  float: right;
}

.comments {
  border-bottom: 2px solid;
  list-style: none;
  padding: 0.3em;
  margin: 0.3em;
}

.comments p{
  text-decoration: underline;
}

.comments p:hover{
  color: blue;
}