* {
  margin: 0;
  padding: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }

  body {
      border-color: antiquewhite;
      margin: 0;
  }

  .text-editor .ql-editor {
      width: 8.5in;
      min-height: 11in;
      padding: 1in;
      margin: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      background-color: white;
  }

  .ql-editor {
    white-space: pre-line;  
}

  .text-editor .ql-container.ql-snow {
      border: none;
      display: flex;
      justify-content: center;
  }

  .text-editor .ql-toolbar.ql-snow {
      display: flex;
      justify-content: center;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #f3f3f3;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .title {
      text-align: center;
  }
  
  .savedDocs {
      float: left;
  }

  h4 {
    padding-left: 1em;
  }

  h1 {
    text-align: center;
  }

  .title {
    margin-top: 1em;
  }

  .wrapper {
    text-align: center;
  }

  .newBtn {
    background-color: #3f7c8f;
    border: none;
    padding: 7px 16px;
    margin: 2em;
    font-size: 16px;
    border-radius: 2px;
    color: white;
  }

.newBtn a {

    color: white;
    text-decoration: none;

  }

  .list {
    padding-left: 14.5em;
    position: relative;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
  }

  ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block; 
    width: 25%;
    list-style: none;
    margin: 5px;
    height: 100px;
  }

  li {
    list-style: none;
    display: inline-block;
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    padding-top: 1em;
  }

  .Navbar {
    padding: 2em;
    background-color: #3f7c8f;
    color: white;
  }

